#luna-artboard {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #1b1b1b;
}

#luna-artboard > div > div > h1 {
	font-size: 1.35rem;
	font-weight: 600;
	margin: 0 0 0.5rem 0;
	padding: 2rem;
	padding-bottom: 0;
	color: white;
}

#luna-artboard #luna-artboard-menu {
	transition: opacity 0.25s ease-in-out;
}

#luna-artboard .luna-artboard-container {
	padding: 2rem;
}

#luna-artboard .luna-artboard-preview {
	display: inline-block;
	padding: 1rem;
}

#luna-artboard .luna-artboard-preview > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 100px;
	box-sizing: border-box;
	line-height: 0px;
	background-color: #242424;
	color: white;
	padding: 0.75rem 1rem;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
}

#luna-artboard .luna-artboard-preview > div svg {
	width: 36px;
	height: 36px;
}

#luna-artboard .luna-artboard-preview:hover > div {
	background-color: #5BC2B6;
}

#luna-artboard .luna-artboard-preview h2 {
	color: white;
	font-size: 1.15rem;
	font-weight: 400;
	margin: 0.5rem 0 0 0;
	line-height: 1;
}

#luna-artboard #luna-artboard-viewer {
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: opacity 0.25s ease-in-out;
}

#luna-artboard #luna-artboard-viewer > div:first-child {
	padding: 1rem;
}

#luna-artboard #luna-artboard-viewer > div:first-child > button {
	user-select: none;
	margin-right: 0.5rem;
	color: white;
	font-size: 0.85rem;
	letter-spacing: 0.5px;
	font-weight: 600;
	background-color: #2f2f2f;
	padding: 0.5rem 0.5rem;
	border-radius: 6px;
	transition: background-color 0.15s ease-in-out;
	border-width: 0;
}

#luna-artboard #luna-artboard-viewer > div:first-child > button:hover {
	background-color: #5BC2B6;
}